ion-avatar {
    --border-radius: 10px;
    width: 100%;
    height: 250px;
}

ion-grid {
    padding-top: 20px;
}

// efecto pinterest
.col-down {
    margin-top: 30px;
    padding: 0 10px;
}

h1 {
    font-weight: bold;
    line-height: 10px;
}

h4 {
    line-height: 19px;
}

.empty {
    text-align: center;
    margin-top: 17vh;
    opacity: 30%;
    ion-icon {
        font-size: 120px;
    }
}